{#
 # Router for directives
 #
 # @param line : specification of a directive to produce
 # @return string
 #}
{%- macro directive(line) -%}
{%-   if line is not mapping or line.keys()|length == 0 or line.values()|length == 0 -%}
FAIL ### a directive must be a mapping with one key and one value
{%-   else -%}
{%-     set name = (line.keys()|list)[0] -%}
{%-     set value = (line.values()|list)[0] -%}
{%-     if name == 'root' -%}
root {{ value }};
{%-     else -%}
FAIL ### The directive name "{{ name }}" is not implemented.
{%-     endif -%}
{%-   endif -%}
{%- endmacro -%}
