{%- import '_macros.j2' as macros with context -%}
{#
 # Produce nginx options for listen directive based on virtualhost settings
 #
 # @param vhost_spec : the virtualhost settings mapping
 # @param listen_spec : optional listen settings mapping
 # @return string
 #}
{%- macro listen_options(vhost_spec, listen_spec={}) -%}
{% set options = [] %}
{% if listen_spec.default_server|d(vhost_spec.default_server|d(false))|bool %}
{%   if macros.version_compare_per_branch('0.8.21', '>')|bool %}
{%     set _ = options.append('default_server') %}
{%   else %}
{%     set _ = options.append('default') %}
{%   endif %}
{% endif %}
{% if macros.version_compare_per_branch('0.7.14', '>')|bool %}
{%   if listen_spec.ssl|d(vhost_spec.ssl|d(nginx__ssl))|bool %}
{%     set _ = options.append('ssl') %}
{%   endif %}
{% endif %}
{% if macros.version_compare_per_branch('1.9.5', '>')|bool %}
{%   if listen_spec.http2|d(vhost_spec.http2|d(false))|bool %}
{%     set _ = options.append('http2') %}
{%   endif %}
{% endif %}
{{ options|join(' ') }}
{%- endmacro -%}
