{#
 # Produce nginx options for listen directive based on virtualhost settings
 #
 # @param vhost_spec : the virtualhost settings mapping
 # @param listen_spec : optional listen settings mapping
 # @return string
 #}
{%- macro listen_options(vhost_spec, listen_spec={}) -%}
{%- endmacro -%}
