{{ ansible_managed|comment(decoration='# ') }}

[Service]
PIDFile={{ nginx__service_pidfile }}

# Remove must restart stamp file
ExecStartPre=-/usr/bin/env rm -f {{ nginx__service_restart_stamp_file }}
